<!--Obsolete
    <div data-ng-controller="SendController">
    <!--Include the "partial view" -->
    <!--<div ng-controller="AccountController">
        <ng-include src="'/Client/views/_usermenu.html'"></ng-include>
    </div>

    <h4>{{message}}</h4>
    
    <div class="form-group">
        <label for="To">To</label>
        <input id="to" type="text" ng-model="send.mail.to" required class="form-control" />

        <label for="Subject">Subject</label>
        <input id="subject" type="text" ng-model="send.mail.subject" required class="form-control" />

        <label for="Body">Body</label>
        <textarea id="body" type="text" ng-model="send.mail.body" required class="form-control" style="width:700px;height:200px;"></textarea>
    </div>
    <button class="btn btn-default" ng-click="send()">Send</button>          
</div>-->